<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tables</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" ng-controller="EventCtrl">
                        <thead>
                            <tr>
                                <th>Event Name</th>
                                <th>Device Type</th>
                                <th>Value</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="event in events" class="odd gradeX">
                                <td>{{event.name}}</td>
                                <td>{{event.device}}</td>
                                <td class="center">{{event.value}}</td>
                                <td class="center">{{event.timeStamp}}</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
        <!-- /.panel -